<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flower Detail Template</title>
</head>
<body>
    <div align="center">
        <h1>{{ flower.name }}</h1>
        <h3>{{ flower.color }}</h3>
        {% if flower.image %}
            <img src="{{ flower.image.url }}" height="600">
        {% else %}
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png" height="600">
        {% endif %}
        <p>
            <a href="{% url 'flower_update_url' flower.id %}">Update Flower Info</a>
        </p>
    </div>
</body>
</html>